/*!
Theme Name: FInsdorf
Theme URI: http://underscores.me/
Author: MoeRT09
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: fd
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

FInsdorf is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

// Import variables and mixins.
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
// @import "generic/normalize";

/* Box sizing
--------------------------------------------- */
// @import "generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
// @import "base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @import "layouts/content-sidebar"; // Uncomment this line for a sidebar on right side of your content.
// @import "layouts/sidebar-content"; // Uncomment this line for a sidebar on left side of your content.

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
// @import "components/components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */
@import "plugins/jetpack/infinite-scroll";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "utilities/alignments";

$primary: #ae2d00;

$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap";

@media print {
	.navigation {
		display: none;
	}
	.logo {
		display: none;
	}
}
.logo {
	width: 150px;
	padding-top: 20px;
}

.footer {
	text-align: center;
}

.main {
	/* border: 1px #ccc solid; */
	border-radius: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	/* box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75); */
	background-color: #fff;
}

body {
	background-color: #ededed;
}

.title {
	background-image: url("assets/img/skyline_opt.svg");
	background-size: 520px;
	height: 140px;
	background-repeat: no-repeat;
	background-position-y: 5px;
	background-position-x: right;
	padding-top: 20px;;
}

.image {
	width: 80%;
	max-width: 500px;
}

#main-nav {
	margin-left: -15px;
	margin-right: -15px;
}

.text-stroke-white {
text-shadow:
	-1px -1px 0 #fff,  
	 1px -1px 0 #fff,
	-1px  1px 0 #fff,
	 1px  1px 0 #fff;
}

.article-card-image {
object-fit: cover;
height: 230px;
}

.gallery-image {
object-fit: cover;
height: 300px;
width: 100%
}
