---
---
@import "custom/variables"; 
@import 'bootstrap/bootstrap';

@media print {
    .navigation {
      display: none;
    }
    .logo {
      display: none;
    }
  }
  .logo {
    width: 150px;
    padding-top: 20px;
  }
  
  .footer {
    text-align: center;
  }
  
  .main {
    /* border: 1px #ccc solid; */
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.75); */
    background-color: #fff;
  }
  
  body {
    background-color: #ededed;
  }
  
  .title {
    background-image: url("{{ '/assets/img/skyline_opt.svg' | relative_url }}");
    background-size: 520px;
    height: 140px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: right;
    padding-top: 20px;;
  }
  
  .image {
    width: 80%;
    max-width: 500px;
  }

  #main-nav {
    margin-left: -15px;
    margin-right: -15px;
  }
  
.text-stroke-white {
  text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.article-card-image {
  object-fit: cover;
  height: 230px;
}

.gallery-image {
  object-fit: cover;
  height: 300px;
  width: 100%
}